.btn {
	padding: 15px;
	font-size: 14px;
	border-radius: 50px;
	background-color: var(--bth-color);
}

.btn {
	color: var(--main-color);

}

.btn.-booking {
	margin-top: 60px;               
	width: max-content;
	padding-right: 50px;
	padding-left: 50px;
	transition: .2s;
}

.btn.-nav {
	font-weight: lighter;
}

.btn.-success:hover {
	transition: .2s;
	background-color: var(--btn-success);
}

@media screen and (max-width: 1125px) {

	.btn.-nav {
		background-color: transparent;
		border: transparent;
		color: var(--text-color);
	}
}

@media screen and (max-width: 768px) {
	.btn.-nav {
		font-size: 24px;
		padding-left: 0;
	}

	.btn.-booking {
		margin-bottom: 30px;
	}
}