.card {
	display: inline-block;
	padding: 30px;
	box-shadow: 0 0 40px #d4e4ff;
	border-radius: 10px;
	max-width: 290px;
	min-height: 120px;
	margin-bottom: 180px;
}

.section__card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
}

.section__h3 {
	width: 70%;
	margin-bottom: 20px;
	margin-top: 20px; 
	padding-right: 30px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section__p {
	display: flex;
	flex-wrap: wrap;
	font-weight: lighter;
}

@media screen and (max-width: 1040px) {

	.card {
	display: flex;
	flex-wrap: wrap; 
	}

	.section__card {
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) {
	.card {
	 margin-right: auto;
	margin-left: auto;
	}
}

@media screen and (max-width: 767px) {
	.cards {
	margin-left: 140px;
	margin-right: 140px;
	}
}

@media screen and (max-width: 639px) {
	.cards {
	 display: flex;
	 justify-content: center;
	}
}

@media screen and (max-width: 599px) {
	.card {
		margin-left: auto;
		margin-right: auto;
		display: block;
		min-width: 350px;
		margin-bottom: 160px;
	}
}

@media screen and (max-width: 644px) {
	.section__card {
		flex-direction: column;
	}

	.card {
		margin-bottom: 10px;
	}
}