.container {
	width: 1100px;
	margin: 0 auto;
}

@media screen and (max-width: 1140px) {
	.container {
		width: 1000px;	
	}
}

@media screen and (max-width: 1040px) {
	.container {
		width: 730px;	
	}
}


@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
}
