body {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
}

.hero__info {
	color: var(--text-color);
	display: flex;
	margin-left: 50%;
	flex-direction: column;
	text-align: left;
	width: 50%;
	font-size: 30px;
}

.hero__p {
	margin-top: 20px;
}


.mark {
	border-radius: 50%;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
	width: 231px;
    height: 231px;
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	color: var(--main-color);
	padding: 15px;
}

@media screen and (max-width: 1125px) {
	.hero__p {
		font-size: 17px;
	}

	h2 {
		font-size: 36px;
	}

	.mark {
		margin-left: 40px;
	}
}

@media screen and (max-width: 499px) {
	body {
		background-size: 1200px;
		background-position-x: 70%; 
	}

	.hero__info {
		width: 90%;
		margin: 0 auto;
	}

	.mark {
		margin: 0 auto;
	}
}