.reasons {
	padding-top: 120px;
	padding-bottom: 120px;
	border-radius: 30px 0px 0px 30px;
	position: relative;
	overflow: hidden;
}

.reason__h2 {
	text-align: center;
	font-size: 34px;
	margin-bottom: 30px;
}

.reason__h3 {
	color: var(--main-color);
	font-weight: lighter;
	font-size: 24px;
	margin-bottom: 20px;
}

.reason {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.reason__l {
	max-width: 300px;
	font-weight: lighter;
}

.mark.-reason {
	position: absolute;
	right: 0px;
	top: 1250px;
}

.reasons__bg {
	position: absolute;
	top: 0;
	right: -150px;
	left: 70px;
	bottom: 0;
	background-color: var(--bg-light-blue);
	transform: skewX(-19deg);
	border-radius: 40px;
}

@media screen and (max-width: 1125px) {
	.mark.-reason {
		display: none;
	}

	.reason__l {
	max-width: 200px;
	}
}

@media screen and (max-width: 1344px) {
	.reason {
		max-width: 900px;
		margin: 0 auto;
	}

	.reason__l {
		max-width: 200px;
	}


@media screen and (max-width: 1079px) {
	.reason__h2 {
		text-align: right;
		margin-right: 20px;
	}
}

@media screen and (max-width: 1108px) {
	.reason {
		max-width: 600px;
		margin: 0 auto;
	}

	.reason__l {
		max-width: 150px;
	}
}

@media screen and (max-width: 909px) {
	.reason {
		max-width: 500px;
	}

	.reason__h3 {
		font-size: 15px;
	}

	.reason__l {
		max-width: 100px;
		font-size: 10px;
	}
}


@media screen and (max-width: 578px) {
	.reason {
		display: flex;
		flex-direction: column;
	}

	.reason__h3 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.reason__l {
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 15px;
		max-width: 150px;
	}

	.reason__h2 {
		margin:0 auto;
		text-align: center;
		margin-bottom: 30px;
	}

	.reasons__bg {
		width: 200%;
		height: 200%;
		margin: 0;
		left: -400px;
		overflow: hidden;
	}
}


