.reviews__card {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.reviews__right {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.card.-reviews {
	max-width: 400px;
	color: var(--gray);
	position: relative;
	margin-bottom: 130px;
	box-shadow: 0 0 40px var(--gray-shadow);
}

.card.-reviews:after {
	content: "";
	background-color: var(--white-color);
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: -10px;
	left: 20px;
	transform: rotate(45deg);
}

.reviews__img {
	position: absolute;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	bottom: -100px;
	left: 0px;
}

.reviews {
	position: relative;
	z-index: 4;
}

.reviews:after {
	content: "";
	position: absolute;
	transform: skewX(15deg);
	background-color: var(--bg-light-blue);
	top: 0; 
	right: 120px; 
	bottom: 0; 
	left: -200px;
	border-radius: 40px;
	z-index: 1;
}