:root {
  --bth-color: white;
  --main-color: #2F80ED;
  --text-color: #FFFFFF;
  --btn-success: #52D1BC;
  --white-color: #FFFFFF;
  --bg-light-blue: rgba(47, 128, 237, 0.05);
  --gray: #636363;
  --gray-shadow: rgba(0,0,0,0.5);
  --blue-not-light: rgba(119, 157, 255, 0.3);
  --dark-blue: #185FBF;
}